.intro{
    width: 100%;
    height: calc(100vh - (var(--index-scale) * 3));

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../global/resourses/mesh-gradient-blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro__btn{ 
    height: calc(var(--index-scale) * 3); 
    width: calc(var(--index-scale) * 12);
    background-color: black; 
    color: white; 
    border-radius: 30px; 
    box-shadow: inset 0 0 0 3px black;
    font-size: var(--font-small); border: none;
    transition: .1s;
}
.intro__btn:hover{
    color: black; 
    background-color: white; 
}

.intro__btn:active{
    color: rgb(255, 255, 255); 
    background-color: var(--color-blue-embient);
}