@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.body{
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 600;

    background-color: var(--color-first);
}

body::-webkit-scrollbar {      
}
  
body::-webkit-scrollbar-track { 
}
  
body::-webkit-scrollbar-thumb {
}

:root{
    --index-scale: calc(1vw + 1vh);
    --index-scale-horizon: calc(1vw / 1vh);

    --font-large: calc(var(--index-scale) * 2.3);
    --font-big: calc(var(--index-scale) * 1.8);
    --font-medium: calc(var(--index-scale) * 1.5);
    --font-small: calc(var(--index-scale) * 1);
    --font-tiny: calc(var(--index-scale) * 0.6);

    --color-blue-embient: #6372FF;
    --color-grey-embient: rgb(87, 87, 87);
    --color-black-embient: rgb(172, 172, 172);

    --color-first: rgb(255, 255, 255);
    --color-secondary: rgb(0, 0, 0);
    --color-rigid: var(--color-grey-embient);

    --border-width: calc(var(--index-scale) * 0.15);
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

.container__footer{
    margin: 0 auto;
}

.unibtn{
    --color-basic: black;
    --color-basic-text: white;
    --color-hover: white;
    --color-hover-text: black;

    display: block;
    height: calc(var(--index-scale) * 3); 
    width: calc(var(--index-scale) * 12);
    border-radius: 30px; 
    font-weight: 600;
    box-shadow: inset 0 0 0 var(--border-width) black;
    color: var(--color-basic-text);
    background-color: var(--color-basic);
    font-size: var(--font-small); 
    border: none;
    transition: .1s;
}

.unibtn:hover{
    color: var(--color-hover-text); 
    background-color: var(--color-hover); 
}

.header{
    position:-webkit-sticky;
    margin: 0;
    top:0;
    z-index: 10;
    width: 100%;
    height: calc(var(--index-scale) * 3);

    background-color: var(--color-first);
}

.header__wrapper{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.header-nav-ref{
    text-align: center; 
    font-size: var(--font-small); 
    margin: 0; 
    color: var(--color-secondary); 
    text-decoration: none;
    transition: .5s;
}

.header-nav-ref:hover{
    text-decoration: underline;
}


/* ad-style start */
.ad-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-top: 50px;
    padding-bottom: 50px; */
}

.ad-horizon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
    width: 100vw; 
    margin-bottom: 20px;
    background-color: var(--color-first); 
}

.ad-cube{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
    max-width: 450px;
    min-width: 30%;
    margin-bottom: 20px;
    background-color: var(--color-first); 
}

@media (min-width:1500px) {
    .ad-cube{
    height: 500px;
    }
}

@media (max-width:1350px) {
    .ad-cube{
    min-width: 45%;
    }
}

@media (max-width:900px) {
    .ad-cube{
    min-width: 100%;
    }
}

.ad-content{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90%; 
    width: 87%;

    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px var(--color-rigid);
    background-color: var(--color-first); 
}

.ad-connect-ref{
    display: block; 
    align-self: center;
    text-decoration: none;
}

.ad-connect-content-ref{
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: calc(var(--index-scale) * 20);
    text-decoration: none; 
    color: var(--color-secondary);
    font-weight: 700;
    --svg-ref-color: var(--color-secondary);
}

.ad-connect-content-ref:hover{
    color: var(--color-blue-embient);
    --svg-ref-color: var(--color-blue-embient);
}

.ad-connect-ref-title{
    font-size: var(--font-small);
}

@media (min-width:1366px) {
    .ad-connect-ref-title{
        font-size: var(--font-tiny);
    }
}

@media (max-width:900px) {
    .ad-connect-ref-title{
        font-size: var(--font-medium);
    }
}
.ad-image-container{
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%; 
    height: 30%;
    background-color: var(--color-first); 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ad-image-author{
    position: absolute;
    height: 100%; 
    border-radius: 20px; 
    border-bottom-left-radius: 0px;
    z-index: 2; 
    object-fit: cover;
    transition: .7s;
}

.ad-image-background{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border-radius: inherit; 
    z-index: 1; 
    object-fit: cover; 
    filter: opacity(0.9);
}

.ad-text-container{
    display: flex;
    flex-direction: column;
    text-align:left;
    word-wrap:break-word;
    overflow: auto;
    width: 100%; 
    height: 60%; 
    background-color: var(--color-first);
}

.ad-text-container::-webkit-scrollbar {      
    width: 7px;
}

.ad-text-container::-webkit-scrollbar-thumb{
    background-color: var(--color-rigid);
    border: 3px solid var(--color-first);
    border-radius: 20px;
    opacity: 0.5;
}

.ad-text-title{
    font-size: var(--font-medium);
    align-self: center;
    font-weight: 700;
    color: var(--color-secondary);
    margin-bottom: 20px;
    margin-top: 20px;
}

@media (min-width:1366px) {
    .ad-text-title{
        font-size: var(--font-small);
    }
}

@media (max-width:900px) {
    .ad-text-title{
        font-size: var(--font-medium);
    }
}
.ad-text-content{
    margin-left: 20px; 
    margin-right:20px; 
    text-overflow: ellipsis; 
    font-size: var(--font-tiny);
    font-weight: 600;
    color: var(--color-rigid);
}

@media (max-width:900px) {
    .ad-text-content{
        font-size: calc(var(--index-scale) * 1.1);
    }
}
/* ad-style end */


/* footer start */
.footer{
    width: 100%;
    height: 400px;
    background-color: var(--color-first);
}

.footer__wrapper{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px; 
    margin-top: 50px;
}

.footer-list-nav{
    list-style: none;
    line-height: 2;
}

.footer-list-nav-ref{
    font-size: var(--font-small);
    color: var(--color-secondary);
    text-decoration: none;
    transition: .5s;
}

.footer-list-nav-ref:hover{
    color: var(--color-blue-embient);
}
/* footer end */
